

@{
    ViewBag.Title = "index";

}
<head>

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" defer></script>
    <link href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
 
    <link href="~/Content/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="#" />




</head>
<body>
    <div style="width: 500px">

        <span>
            <label>No Invoice</label>
            <input id="invoice" class="invoice" title="" type="text" name="style">

        </span>
        <button id="btn" class="btn-success">View</button>
        <div>
            <form action="">
                <span style="margin-right: 36.5em; display: inline-block;">
                    <label for="invoice_date">Invoice Date</label>
                    <input type="text" id="invoice_date" placeholder="dd\MM\yyyy">
                </span>

                <span>
                    <label for="ShipTo" style="margin-right: 3.5em; display: inline-block;">Ship To</label>
                    <textarea id="ShipTo" name="ShipTo" rows="4" cols="30"></textarea>
                </span>
                <br />
                <span style="margin-right: 30em; display: inline-block;">
                    <label for="To" style="margin-right: 5.7em; display: inline-block;">To</label>
                    <textarea id="To" name="To" rows="4" cols="30"></textarea>
                </span>
                <span>
                    <label for="payment_type" style="margin-right: 0.7em; display: inline-block;">Payment Type</label>
                    <select id="payment_type" name="payment_type">
                        <option value="Cash">Cash</option>
                        <option value="COD">Pay Later</option>

                    </select>
                </span>
                <br />
                <br />

                <span style="margin-right: 31em; display: inline-block;">
                    <label for="sales_name" style="margin-right: 1em; display: inline-block;">Sales Name</label>
                    <select id="sales_name" class="sales_name" size="1"  name="sales_name">
                    <option value="" selected hidden>Select Sales Name</option>
                       
                    </select>
                </span>

                <span>
                    <label for="no_invoice" style="margin-right: 2em; display: inline-block;">No Invoice</label>
                    <input type="text" id="no_invoice" placeholder="Input No Invoice">
                </span>
                <br />
                <br />
                <span>
                    <label for="courier" style="margin-right: 2.7em; display: inline-block;">Courier</label>
                    <select id="courier" name="courier">
                        <option value="" selected hidden>Select Courier</option>
                    </select>
                </span>



            </form>
            <div>
                <table id="item" cellpadding="0" cellspacing="0" border="1" style="margin-left: 375px; margin-right: auto;" class="display" width="95%">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Weight(kg)</th>
                            <th>QTY</th>
                            <th>Unit Price</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <br />
            <button id="save" class="btn-success">SAVE</button>
        </div>

        @*<button id="btn2" class="btn-success">Call Python</button>*@
    </div>
    
</body>


<script>
    var apiBaseUrl = "https://localhost:44387/";

    $(function () {

        //$("#item").hide();
        $('#btn').on('click', function () {
            debugger
            $("#item").show();
            var no_inv = document.getElementById("invoice").value;
            //var monthVal = document.getElementById("Month").value;
            //var yearVal = document.getElementById("YEAR").value;
            
            $.ajax({
                type: "GET",
                cache: false,
                url: apiBaseUrl + 'api/INVOICEDETAIL/id/' + no_inv,
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $("#item").DataTable(
                        {
                            bLengthChange: false,
                            lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                            bFilter: false,
                            bSort: true,
                            bPaginate: false,
                            destroy: true,
                            data: response,
                            columns: [{ 'data': 'item' },
                            { 'data': 'weight' },
                            { 'data': 'qty' },
                            { 'data': 'unit_price' },
                            { 'data': 'total' }]
                        });
                },
                failure: function (response) {
                    alert(response.d);
                },
                error: function (response) {
                    alert(response.d);
                }



            });
            //function OnSuccess(response) {
                

            //};
            
            
        });

        $('#sales_name').on('click', function () {
            debugger

            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            console.log(this[0])
            if (this[1]) {

            }
            else {
                $.ajax({
                    type: "GET",
                    url: apiBaseUrl + 'api/SALES/all',
                    data: '{}',
                    success: function (data) {
                        //for (item in result) {
                        //    $('#sales_name').append('<option value=' + [item.id] + '>' + [item.sales_name] + '</option>');
                        //}
                        var s = "";
                        for (var i = 0; i < data.length; i++) {
                            var id = this.id;
                            var value = this.value;
                            s += '<option value="' + data[i].id + '">' + data[i].sales_name + '</option>';
                        }
                        $("#sales_name").html(s);
                    },
                    failure: function (data) {
                        alert(data.d);
                    },
                    error: function (data) {
                        alert(data.d);
                    }

                });
            }

            //var no_inv = document.getElementById("invoice").value;
            //var monthVal = document.getElementById("Month").value;
            //var yearVal = document.getElementById("YEAR").value;
            
        });

        $('#courier').on('click', function () {
            debugger

            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            console.log(this[0])
            if (this[1]) {

            }
            else {
                $.ajax({
                    type: "GET",
                    url: apiBaseUrl + 'api/COURIER/all',
                    data: '{}',
                    success: function (data) {
                        
                        var s = "";
                        for (var i = 0; i < data.length; i++) {
                            var id = this.id;
                            var value = this.value;
                            s += '<option value="' + data[i].id + '">' + data[i].courier_name + '</option>';
                        }
                        $("#courier").html(s);
                    },
                    failure: function (data) {
                        alert(data.d);
                    },
                    error: function (data) {
                        alert(data.d);
                    }

                });
            }

            //var no_inv = document.getElementById("invoice").value;
            //var monthVal = document.getElementById("Month").value;
            //var yearVal = document.getElementById("YEAR").value;

        });

        
    });
    



</script>

