label {
    /* place-content: center; */
    display: inline-block;
    /* position: absolute; */
    /* flex-direction: row !important; */
    /* justify-content: flex-start !important; */
    text-align: center;
    width: 90px !important;
    bottom: auto;
    /* clear: left; */
    /* line-height: 26px !important; */
    /* margin-bottom: 10px !important; */
}
.table
{
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}
.form-body button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border: 3px solid #000000;
    text-align: center;
}
.flex-parent {
    display: flex;
}

.jc-center {
    justify-content: center;
}

.datepicker {
    background-color: #fff;
    color: #333;
}